table, th, td{
    border: none;

}

input {
    width: 100%;
    height: 100%;
    border: none;
}

.add {
    text-align: center;
    width: 3rem;
    border-radius: 100%;
    align-items: center;
}




