
/* CONFIGURAÇÕES GERAIS */
* {
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/* FORMULÁRIOS */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    margin-left: 2%;
}

/* MENU DE NAVEGAÇÃO */
nav {
    height: 3rem;
    align-items: center;
    background-color: #12233B;
}

.perfil {
    text-align: right;
}

/* PÁGINA INICIAL */
.pagina_inicial {
    width: 80%;    
}

/* TÍTULO DAS PÁGINAS */
.titulo {
    margin-top: 1%;
    text-decoration: underline; 
}

/* CAMPO DE ASSINATURA - FORMULÁRIO 22 */
#signatureCanvas {
    border-radius: .25rem;
    border: none;

    touch-action: none;

    height: 100%;
    width: 100%;
}

canvas {
    border-style: solid;
    border-width: 1.14rem;
    border-color: rgba(128, 128, 128, 0.463);
    background-color: rgb(222, 222, 222);
}

/* CAMPO DE DATA - EDITA.PHP */
.fdata {
    width: 100%;
    /* width: 11.8rem; */
}

/* INPUTS DOS FORMULÁRIOS */
.registro {
    border-style:none;
    width: 100%;
    height: 2rem;
    border-radius: .25rem;
    background-color: rgb(222, 222, 222);
}

/* FORMULÁRIO 23 */
.normas {
    font-weight: bold;
    background-color: rgb(222, 222, 222);
    width: 100%;
    border-radius: .25rem;
    text-align: center;
    height: 2rem;
}

.observacao {
    margin-bottom: 3%;
}

.grupo {
    margin-top: 2%;
    background-color: rgb(168, 168, 168);
    border-radius: .25rem;
    text-align: center;
    width: 100%;
    align-self: center;

}

.botao_form23 {
    margin-bottom: 2%;
}

/* LOGIN */
#username, #pass {
    height: 2rem;
    width: 15rem;
}

.login {
    font-size: large;
}

/* BOTÕES */
.botao {
    height: 3rem;
    border-radius: .4rem;
    background-color: #E30613;
    color: white;
    border-color: none;
    border-width: 0;
    transition: 0.3 all;
    width: 100%;
    
}

.botao:hover {
    filter: contrast(0.85);
}

.logar {
    width: 15rem;
}

.content {
    margin-top: 9%;
}

/* TABELAS */
.cabecalho {
    background-color: #dedede;
}

th, td {
    font-size: small;
}

#materiais {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}

table{
    padding: none;    
    border: none;
}

.table {
    text-align: center;
}

.footer {
    width: 100%;
    height: 1rem;
    background-color: rgb(206, 206, 206);
    align-content: center;
    margin-top: 28.5%;
}

.status {
    font-size: x-small;
    font-weight: bold;
}